{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "css"
}
